.container {
  width: 1175px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
}

header{
  width: 100%;
  background-color: #ff6229;
  padding: 5px;
  font-size: 12px;
  /*position: absolute;*/
}
header:before {
    /*clear: both;*/
    z-index: 20;
    content: '';
    position: absolute;
    left: 0;
    top: 135px;
    width: 100%;
    height: 5px;
    background: url(..assets/perforated-bottom.png) repeat-x;
}

header button{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding: 4px;
  background-color: #c23400;
  color:white;
  margin-left:90px;
}

header a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.skinnyties {
  padding: 0px 90px;
}

.skinnyties img {
  width: 110px;
  float: left;
}

.skinnyties a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 15px;
}

.selection {
  position: relative;
  top: 45px;
  left: 50px;
  padding-left: 30px;
  /*float: right;*/
  /*position: relative;
  bottom: 25px;
  left: 25px;*/
}
.search {
  position: absolute;
  right: 77px;
  padding: 5px 65px 5px 25px;
  background-color: white;
}

.cart{
  position: absolute;
  right: 220px;
  padding: 7px 25px;
  background-color: white;
}
.cartsprite {
  background: url('assets/sprite@2x.png') no-repeat -90px -32px;
  width: 8px;
  position: absolute;
  top: 63px;
  right: 25px;
  /*z-index: 2;*/
/*height: 24px;*/
}

.ties {
  clear: both;
  padding-left: 135px;
  background-color: #F4F4F4;
  position: relative;
  /*border-top: 1px solid green;*/
  /*border-top: 20px solid pink;*/
  /*border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
  border-image-slice: 20 15;
  border-image-repeat: round;*/
  /*border-image-source: url('../assets/perforated-bottom@2px.png');*/
  /*border-image-slice: 20 15;
  border-image-repeat:round;*/

}

.ties img {
  width: 68px;
  padding-right:19px;
}
/*.ties a {
  position: absolute;
  top: 10px;
  left: 10px;

}*/

.ties h2 {
  font-size: 48px;
  font-weight: normal;
  /*text-align: center;*/
  /*position: absolute;
  left: 15px;
  bottom: 25px;*/
  margin-top: 25px;
  padding-left: 200px;
  padding-bottom: 60px;
}

.tielinks a {
  font-size: 14px;
  margin-right:13px;
  margin-left: 18px;
  padding-right: 13px;
  text-decoration: none;
}
.otherties {
  margin: 10px 90px;
}
.otherties img{
  width: 290px;
  float: left;
  margin-right: 16px;
}

.ourstory {
  clear: both;
  padding-top: 40px;
  margin-bottom: 65px;

  /*font-size: 28px;
  font-style: italic;
  font-weight: 100;*/
  text-align: center;
}
.ourstory p {
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  margin-bottom: 5px;

}

.ourstory a {
  text-decoration: none;
  font-size: 14px;
  color: blue;/*font-style: normal;*/
}

.moredata {
  border-top: 1px solid lightgray;
  padding: 40px 90px;
}

.moredata h3 {
  font-size: 14px;
  font-weight: 900;
}

.weekly {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;
  padding-bottom: 45px;
}
.weekly img {
  width: 200px;
}
.weekly a {
  margin: 10px;
  font-size: 12px;
}

.loop {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;

}
.loop p {
  font-size: 12px;
}

.quarterly {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;
  padding-bottom: 25px;
}
.quarterly p {
  font-size: 12px;
}

.styleguide {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;
}
.styleguide img {
  width: 200px;
}
.styleguide p {
  font-size: 12px;
}

footer {
  padding: 2px 90px;
  width: 1100px;
  height: 200px;
  border-top: 1px solid lightgray;
  clear: both;
  font-size: 12px;
  background-color: #F4F4F4;
}

footer ul {
  list-style: none;
}
.shop {
  float: left;
}

.about {
  float: left;
}

.style {
  float: left;
}

.help {
  float: left;
}
