.container {
  width: 1075px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
}

.container li{
  list-style: none
}

header{
  width: 1075px;
  background-color: #ff7542;
  padding: 7px;
  font-size: 12px;
  /*position: absolute;*/
}
header:before {
    /*clear: both;*/
    z-index: 20;
    content: '';
    position: absolute;
    left: 0;
    top: 135px;
    width: 100%;
    height: 5px;
    background: url(..assets/perforated-bottom.png) repeat-x;
}

header button{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding: 3px 8px;
  background-color: #d15000;
  color:white;
  margin-left:90px;
  border-radius: 3px;
  border-style: none;
}

header a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.skinnyties {
  padding: 0px 90px;
}

.skinnyties img {
  width: 110px;
  float: left;
}

.skinnyties a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 15px;
}

.selection {
  position: relative;
  top: 45px;
  left: 50px;
  padding-left: 30px;
  /*float: right;*/
  /*position: relative;
  bottom: 25px;
  left: 25px;*/
}
.signin a{
  position: relative;
  top: -14px;
  right: -690px;
  font-size: 10px;
  color: #C0C0C0;

}
.search {
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  position: absolute;
  right: 65px;
  padding: 5px 65px 5px 25px;
  background-color: white;
  color: #C0C0C0;
}

.cart{
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  position: absolute;
  right: 205px;
  padding: 7px 29px;
  background-color: white;

}
/*.cartsprite {
  background: url('assets/sprite@2x.png') no-repeat -90px -32px;
  width: 8px;
  position: absolute;
  top: 63px;
  right: 25px;
  /*z-index: 2;*/
/*height: 24px;*/


.ties {
  clear: both;
  padding-left: 105px;
  background-color: #F4F4F4;
  position: relative;
  /*border-top: 1px solid green;*/
  /*border-top: 20px solid pink;*/
  /*border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
  border-image-slice: 20 15;
  border-image-repeat: round;*/
  /*border-image-source: url('../assets/perforated-bottom@2px.png');*/
  /*border-image-slice: 20 15;
  border-image-repeat:round;*/
}

.ties ul {
  float: left;
  text-align: center;
  font-size: 14px;
  padding-left: 23px;
  margin-top: 0;
}

.ties img {
  width: 68px;
  padding-right:0px;
}
/*.ties a {
  position: absolute;
  top: 10px;
  left: 10px;

}*/

.ties h2 {
  clear: both;
  font-size: 48px;
  font-weight: normal;
  /*text-align: center;*/
  /*position: absolute;
  left: 15px;
  bottom: 25px;*/
  padding-left: 200px;
  padding-bottom: 60px;
  padding-top: 50px;
}

/*.tielinks a {
  font-size: 14px;
  margin-right:13px;
  margin-left: 18px;
  padding-right: 13px;
  text-decoration: none;
}*/
.otherties {
  margin: 10px 10px 10px 90px;
  position: relative;
}
.otherties img{
  width: 290px;
  float: left;
  margin-right: 16px;
}

.bowties h3 {
  position: absolute;
  left: 190px;
  top: -5px;
}

.pocket h3 {
  position: absolute;
  left: 506px;
  top: -5px;
  text-align: right;
}

.tiebars h3 {
  position: absolute;
  right: 135px;
  top: -5px;
}


.ourstory {
  clear: both;
  padding-top: 40px;
  margin-bottom: 65px;

  /*font-size: 28px;
  font-style: italic;
  font-weight: 100;*/
  text-align: center;
}
.ourstory p {
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  margin-bottom: 5px;
  padding-right: 90px;

}

.ourstory a {
  padding-right: 90px;
  text-decoration: none;
  font-size: 14px;
  color: #52B8FF;/*font-style: normal;*/
}

.moredata {
  border-top: 1px solid lightgray;
  padding: 40px 10px 40px 90px;
  letter-spacing: -0.5px;
}

.moredata h3 {
  font-size: 15px;
  font-weight: 900;
}

.weekly {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;
  padding-bottom: 35px;
}
.weekly img {
  width: 200px;
}
.weekly a {
  margin: 10px;
  font-size: 12px;
  letter-spacing: -1px;
  color: #33A1FF;
  text-decoration: none;
  text-align: left;
}

.loop {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;

}
.loop p {
  font-size: 12px;
}

.quarterly {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;
  padding-bottom: 25px;
}
.quarterly p {
  font-size: 12px;
}
.quarterly form {
  width:75%;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: -1px;
  color: #aaa;
  padding: 5px 20px 5px 5px;

}
.quarterly button {
  background-color: #33A1FF;
  color: white;
  border-radius: 3px;
  border: 1px solid #33A1FF;
  padding: 4px 5px;
  margin-top: 10px;
  letter-spacing: -1px;

}

.styleguide {
  width: 200px;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 35px;
}
.styleguide img {
  width: 200px;
}
.styleguide p {
  font-size: 12px;
  letter-spacing: -1px;
}
.styleguide a {
  color: #33A1FF;
  text-decoration: none;
}

footer {
  padding: 2px 90px;
  width: 1100px;
  height: 200px;
  border-top: 1px solid lightgray;
  clear: both;
  font-size: 12px;
  background-color: #F4F4F4;
  position: relative;
}

footer ul {
  list-style: none;
}
.shop {
  float: left;
}

.about {
  float: left;
}

.style {
  float: left;
}

.help {
  float: left;
}

.here {
  margin-top: 30px;
  margin-right: 150px;
  border-radius: 4px;
  width: 275px;
  height: 115px;
  float: right;
  padding: 0px 5px;
  background-color: #A2AFC0;
  color: white;
}
.here h3 {
  font-size: 20px;
  font-style: italic;
}

.here ul {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  padding-left: 0;
}

.here button {
  background-color: #33A1FF;
  color: white;
  border-radius: 3px;
  border: #33A1FF;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  padding: 9px 10px;
  position: absolute;
  top: 100px;
  right: 260px;
}
